<mat-toolbar>
    <mat-toolbar-row style="font-size:1 5rem; height: 80px;">
        <span>Deseja remover este livro?</span>
        <span class="example-spacer"></span>
        <button mat-raised-button color="primary"><a routerLink="/livros/create">Adicionar livro</a></button>
        <button mat-raised-button color="primary"><a routerLink="/livros">Lista de livros</a></button>
    </mat-toolbar-row>
</mat-toolbar>

<div style="margin: 1%;">
    <mat-card>
        <mat-card-content style="font-size:1 5rem; height: 80px;">
            <mat-form-field class="example-form-field">
                <mat-label>Id do livro</mat-label>
                <input matInput type="text" placeholder={{livro.id}}>
            </mat-form-field>
            <mat-form-field class="example-form-field">
                <mat-label>Nome do livro</mat-label>
                <input matInput type="text" placeholder={{livro.nome}}>
            </mat-form-field>
            <mat-form-field class="example-form-field">
                <mat-label>Categoria</mat-label>
                <input matInput type="text" placeholder={{livro.categoria}}>
            </mat-form-field>
            <button class="botao" mat-raised-button color="primary" (click)="delete()">Confirmar?</button>
        </mat-card-content>
    </mat-card>
</div>