<mat-toolbar>
    <mat-toolbar-row style="font-size:1 5rem; height: 80px;">
        <span>Atualizar livro</span>
        <span class="example-spacer"></span>
        <button mat-raised-button color="primary"><a routerLink="/livros/create">Adicionar livro</a></button>
        <button mat-raised-button color="primary"><a routerLink="/livros">Lista de livros</a></button>
    </mat-toolbar-row>
</mat-toolbar>
<form [formGroup]="form">
<div style="margin: 1%;">
    <mat-card>
        <mat-card-content style="font-size:1 5rem; height: 80px;">
            <mat-form-field class="example-form-field">
                <mat-label>Nome do livro</mat-label>
                <input matInput type="text" formControlName="nome">
            </mat-form-field>
            <mat-form-field appearance="fill" class="example-form-field">
                <mat-label>Categoria</mat-label>
                <mat-select [formControl]="categorias" multiple>
                    <mat-option *ngFor="let categorias of categoriaList"
                    formControlName="categoria">{{categorias}}</mat-option>
                </mat-select>
            </mat-form-field>
            <button class="botao" mat-raised-button color="primary" (click)="update()">Atualizar</button>
        </mat-card-content>
    </mat-card>
</div>
</form>