.example-spacer {
    flex: 1 1 auto;

}
a{
    color: white;
}
button{
    margin-right: 5px;
    
}
.botao{
    position:absolute;
    top:0;
    right: 0;
    left: 90%;
    margin-right:10px;
    margin-left: 20px;
    margin-top: 20px;
    
}
.example-form-field {
    margin-left: 5px;
}
